.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  position: relative;
  align-items: flex-start;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;

  &.large-card {
    flex: 0 0 calc(33% - 20px);
    
    ul {
      list-style-type: none;
      padding-left: 0;
      font-size: 13px;
      
      li {
        margin-bottom: 10px;

        .employee-name {
          color: blue;
        }

        .activity-info {
          color: green;
          font-weight: bold;
          
          &.exit {
            color: red;
          }
        }
      }
    }
  }

  h2 {
    margin-top: 0;
  }

  hr {
    margin: 10px 0;
  }
}

.notification-circle {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  vertical-align: middle;
}

.mini-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .day {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    hr {
      width: 80%;
      margin: auto;
    }
  }

  .date {
    font-weight: bold;
  }

  .employees {
    margin-top: 5px;

    .employee {
      font-size: 16px;
      margin: 5px 0;

      .attendance {
        font-size: 12px;
      }
    }
  }
}

.daily-hours {
  line-height: 5px;
}

.week-container {
  font-size: 13px;
}
