<div class="grid-container">
  <div class="card large-card">
    <h2>Actividad Reciente</h2>
    <hr>
    <ng-container *ngIf="(recentActivity$ | async) as recentActivities">
      <ul>
        <li *ngFor="let activity of recentActivities">
          <span class="employee-name">{{ activity.employeeName }}</span> ha 
          <span [ngClass]="activity.type === 'start' ? 'activity-info entry' : 'activity-info exit'">
            {{ activity.type === 'start' ? 'entrado' : 'salido' }}
          </span> 
          a las <span class="activity-info">{{ activity.time | date:'shortTime' }}</span> el dia {{ activity.time | date:'fullDate' }}.
        </li>
      </ul>
    </ng-container>
  </div>
  <div class="card large-card">
    <h2>Asistencia Incompleta 
      <span *ngIf="(incompleteAttendance$ | async) as incompleteAttendance" class="notification-circle">
        {{ countIncompleteSchedules(incompleteAttendance) }}
      </span>
    </h2>
    <hr>
    <div class="mini-calendar">
      <ng-container *ngIf="(incompleteAttendance$ | async) as incompleteAttendance">
        <div *ngFor="let date of incompleteAttendance" class="day">
          <div class="date">{{ date.date | date:'fullDate' }}</div>
          <hr>
          <div class="employees">
            <div *ngFor="let schedule of date.schedule" class="employee">
              {{ schedule.employeeName }}
              <br>
              <div class="attendance">
                {{ schedule.employeeName }} ha fichado la {{ schedule.startTime ? 'entrada' : 'salida' }} 
                a las {{ schedule.startTime ? (schedule.startTime | date:'shortTime') : (schedule.endTime | date:'shortTime') }} 
                pero no la {{ schedule.startTime ? 'salida' : 'entrada' }}.
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>    
  </div>
  <div class="card large-card">
    <h2>Horas trabajadas</h2>
    <hr>
    <div *ngIf="(workHours$ | async) as workHours">
      <div *ngFor="let employee of workHours">
        <h2 class="employee-name">{{ employee.employeeName }}</h2> 
        <div *ngFor="let weeklyHours of employee.weeklyHours" class="week-container">
          <h3>Semana {{ weeklyHours.weekNumber }} ({{ weeklyHours.startDate }} - {{ weeklyHours.endDate }})</h3>
          <div class="daily-hours">
            <div *ngFor="let dailyHours of weeklyHours.daysWorked" class="daily-hour">
              <p>El día {{ dailyHours.date }} ha trabajado {{ dailyHours.hoursWorked }} horas.</p>
            </div>
          </div>
          <p><span class="activity-info">Total horas trabajadas esta semana: {{ weeklyHours.hoursWorked }}</span></p> 
        </div>
      </div>
    </div>
  </div>  
</div>  