<nav class="navigation">
    <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/incomplete-attendance']">Incomplete Attendance</a></li>
      <li><a [routerLink]="['/schedule']">Schedule</a></li>
    </ul>
</nav>