.navigation {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    ul {
      cursor: pointer;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      display: inline-block;
      margin-right: 20px;
    }
  
    a {
      text-decoration: none;
      color: black;
      transition: border-bottom 0.1s;
    }
  
    a:hover {
      border-bottom: 2px solid black;
    }
}